<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eyes</title>
    <script src="{{ url_for('static',filename='WS.js') }}"> </script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div id="eyeMainBox">
    <div class="leftEye">
        <img class="eyeTex" src="{{ url_for('static',filename='img/T_Senko_Face_emmision.svg') }}" alt="eyeTex"/>
    </div>
    <div class="rightEye">
                <img class="eyeTex" src="{{ url_for('static',filename='img/T_Senko_Face_emmision.svg') }}" alt="eyeTex"/>
    </div>
</div>
</body>
</html>